@{
    ViewBag.Title = "Welcome";
}

@section Integration{
    <div class="container-fluid">
        <div class="col-sm-3">
              <div style="background-color:whitesmoke;padding:20px;">
                <h2>Filter by:</h2>
                <label for="distanceFilter">Max distance(in kms):</label><br />
                <input type="number" min="0" max="100" id="distanceFilter" value="5" class="input-sm" /><br />
                <label for="genderFilter">Gender:</label>
                <select class="form-control input-sm" id="genderFilter">
                    <option>Male</option>
                    <option>Female</option>
                    <option selected>Both</option>
                </select><br />
                <button id="findPeopleBtn" class="btn btn-warning btn-lg">Find people near me!&raquo;</button>
            </div>
        </div>
        <div class="jumbotron col-sm-7">
            <h1>Welcome!</h1>
            <p class="lead" id="yourAddress"></p>
            <div id="map"></div>
            <div id="error-div"></div>
        </div>

        <div class="container col-sm-2">
            @*<h3>Nearby People:</h3>*@
            <div class="panel-group" id="nearbyPeoplesList">
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(function () {
            // debugger;
            var mask = $('#mask');
            mask.hide();
            GetMyLocation();
        });
      
        function GetOtherUsers() {

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOtherUsers", "Home")",
                cache: false,
                complete: function (data) {
                    if (data.responseJSON) {
                        FindNearbyPeople(data.responseJSON);
                    }
                }
            });

        }

        function UpsertUserPosition() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("AddUserPositionToDB", "Home")",
                data: { latitude: myLat, longitude: myLong },
                cache: false,
                complete: function (data) {
                }
            });

        }

    </script>
}